*{
     padding:0;
     margin:0;
     box-sizing: border-box;
}
.chat_bar_head{
    min-width: 80%;
    border-radius: 10px;
    /* border: 1px solid green; */
    height: fit-content;
    margin: 5px;
    text-align: center ;
    display: inline-flex;
    float: right;
} 

.chat_bar_head:hover{
    transition: all 1s ease;
    -webkit-box-shadow: 9px 11px 38px 4px rgba(0,0,0,0.34);
    -moz-box-shadow: 9px 11px 38px 4px rgba(0,0,0,0.34);
    box-shadow: 9px 11px 38px 4px rgba(0,0,0,0.34);
}

.chat_bar_client:hover{
    transition: all 1s ease;
    -webkit-box-shadow: 9px 11px 38px 4px rgba(0,0,0,0.34);
    -moz-box-shadow: 9px 11px 38px 4px rgba(0,0,0,0.34);
    box-shadow: 9px 11px 38px 4px rgba(0,0,0,0.34);
}




chat_bar_head:hover{
      background-color: rgba(rgb(13, 108, 130), rgba(39, 51, 39, 0.853), rgb(80, 80, 112) , 0.5);
      cursor: pointer;
     }
      


.chat_bar_client{
    min-width: 80%;
    border-radius: 10px;
    /* border: 1px solid blue; */
    height: fit-content;
    margin: 5px;
    text-align: center ;
    display: inline-flex;
}


